%h2.redglow Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div.greenglow
    = f.label :email
    = f.email_field :email, :autofocus => true
    %br/
  %div.greenglow
    = f.label :first_name
    = f.text_field :first_name
    %br/
  %div.greenglow
    = f.label :last_name
    = f.text_field :last_name
    %br/
  %div.greenglow
    = f.label :gamer_tag
    = f.text_field :gamer_tag
    %br/
  %div.greenglow
    = f.label :preffered_class
    = f.text_field :preffered_class
    %br/
  %div.greenglow
    = f.label :battlelog
    = f.check_box :battlelog
    %br/
  %div.greenglow
    = f.label :gender
    = f.text_field :gender
    %br/
  %div.greenglow
    = f.label :password
    = f.password_field :password
    %br/
  %div.greenglow
    = f.label :password_confirmation
    = f.password_field :password_confirmation
    %br/
  %div= f.submit "Sign up"
= render "devise/shared/links"
