<h2 class=redglow>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class=whiteglow><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div class=whiteglow><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class=whiteglow><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
         $("button").click(function(){
              $("#p1").fadeIn("slow");
         });
    });
</script>
<button class="btn-inverse">Help</button><br>
<p id="p1" style="display:none;" class="redglow">If you have an account, enter your email and password.  If you don't have an account, click "Sign Up"</p>
<%= render "devise/shared/links" %>
